@import "./Styles/default_styles.scss";

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
  justify-content: flex-end;
}
.navbar {
  a {
    color: white !important;
    @include mediumbreakpoint {
      color: $secondary-color !important;
      padding: 12px 32px;
    }

    &:hover {
      color: $dark-color;
      font-weight: bold;
    }
  }
}

.navbar-expand-lg {
  background-color: $secondary-color !important;
  @include flex-center-row;
  @include smediumbreakpoint {
    @include flex-center-row;
  }

  .container {
    @include smediumbreakpoint {
      max-width: 320px;
      margin: 0 auto;
      background-color: $light-color;
      border-radius: $border-radius;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.app {
  background-color: white;
  font-family: $base-font;
}

.collapsed {
  .navbar-toggler-icon {
    position: relative;
    display: block;
    background-image: url("./Assets/hamburger.png") !important;
  }
}

.navbar-toggler {
  border: none;
  outline: none;
  .navbar-toggler-icon {
    background-image: url("./Assets/close.png");
  }

  &:focus {
    box-shadow: none;
  }
}

.navbar-toggler {
  .collapsed {
    border: 2px solid white;
  }
}
